@media only screen and (max-width: 900px) {
  .App {
    display: flex;
    flex-direction: column;
    background: rgb(0,118,123);
    background: linear-gradient(90deg, rgba(0,118,123,1) 0%, rgba(3,72,102,1) 50%, rgba(6,32,84,1) 100%);
    width: 480px;
    height: 880px;
    justify-content: center;
    /* margin-left: 300px; */
  }
}